<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Report.DAO.ReportMapper">
	<insert id="insertReport" parameterType="Report">
		insert into report(demandNo, claimeeNo, reportId, content) values(#{demandNo}, #{claimeeNo}, #{reportId}, #{content})
	</insert>

	<select id="selectReportList" parameterType="int" resultType="Report">
		select * from report
	</select>
	<select id="selectReportListByUser" parameterType="int" resultType="Report">
		select * from report where userNo = #{userNo}
	</select>
	<select id="selectReportCategory" resultType="ReportCategory">
		select * from reportCategories
	</select>
</mapper>	
