<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- 우리가 jdbc로 작성했떤 쿼리문을 여기다가 만들면됨 -->
<mapper namespace="User.DAO.IUserMapper">
	<insert id="insertUser" parameterType="User">
		insert into Users(loginId, password, password_q, password_a, name, nickname, email, phone, addr, bdate, kakao)
		values(#{loginId},#{password},#{password_q},#{password_a},#{name},#{nickname},#{email},#{phone},#{addr},#{bdate}, #{kakao})
	</insert>
	
	
	<select id="selectUserById" resultType="User" parameterType="string">
		select * from users where loginId = #{loginId} and able = true
	</select>
	
	<select id="registerCheck" resultType="User" parameterType="string">
		select * from users where loginId = #{loginId}
	</select>
	
	<select id="selectUserByPhone" resultType="User" parameterType="string">
		select * from users where phone = #{phone}
	</select>
	
	<select id="selectUserList" resultType="User">
		select * from users where able = true
	</select>
	
	<select id="selectUserByUserNo" resultType="User" parameterType="int">
		select * from users where userNo = #{userNo}
	</select>
	
	<update id="updateUser" parameterType="User">
		update Users set password_q=#{password_q}, password_a=#{password_a}, name=#{name}, nickname=#{nickname}
		,email=#{email}, phone=#{phone}, addr=#{addr} where userNo=#{userNo}
	</update>
	
	<update id="updateIntroduce" parameterType="User">
		update users set introduce = #{introduce} where userNo = #{userNo}
	</update>
	
	<update id="deleteUser" parameterType="int">
		update users set able = 0 where userNo = #{userNo}
	</update>

</mapper>

 
