@charset "UTF-8";

#loginPopup-popupDiv { /* 팝업창 css */
	top: 0px;
	position: absolute;
	background: white;
	width: 350px;
	height: 500px;
	border-radius: 4px;
	display: none;
	border: 2.5px solid #312b2bc9;
	text-align: center;
}

#loginPopup-popup_mask { /* 팝업 배경 css */
	position: fixed;
	width: 100%;
	height: 1000px;
	top: 0px;
	left: 0px;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0.8;
}

#loginPopup-popupTitle {
	margin-top: 10px;
	font-weight: bolder;
	font-size: 18px;
}

#loginPopup-popupText {
	font-size: 12px;
	margin-top: 30px;
}

#loginPopup-loginAPI {
	margin-top: 35px;
	margin-bottom: 25px;
}

.loginPopup-loginInput {
	width: 200px;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 8px;
}

#loginPopup-loginImg {
	width: 75px;
    height: 75px;
    margin-top: 25px;
    margin-left: 20px;
}

#loginPopup-loginSubmit {
	background-color: #FE8181;
    border: none;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 220px;
    border-radius: 4px;
}


#loginPopup-popCloseImg {
	position: relative;
	cursor: pointer;
    left: 102px;
    bottom: 66px;
    width: 20px;
    height: 20px;
    opacity: 0.6;
}
