@charset "UTF-8";

.container {
	background-color: #f8f8f8;
}

.w1200 {
	width: 1200px;
	margin: 0px auto;
	background-color: white;
}

.lately-container {
	margin-bottom: 40px;
}

#etc {
	padding-bottom: 80px;
}

.category-info {
	overflow: hidden;
	padding: 20px 0px;
	margin: 0px;
}

.category-title {
	margin: 0px;
	font-size: 20px;
	float: left;
}

.all-view {
	float: right;
	line-height: 27px;
	color: #f64448;
	cursor: pointer;
}

.product-container {
	overflow: hidden;
}

.product {
	width: 196.70px;
	float: left;
	margin-right: 10px;
	margin-bottom: 11px;
}

.product:FIRST-CHILD {
	margin-left: 0px;
}

.product:LAST-CHILD {
	margin-right: 0px;
}

.product-img-container {
	width: 194.8px;
	height: 194.8px;
}

.product-img {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.product-info {
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.product-title {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-price {
	padding-top: 6px;
	padding-bottom: 3px;
	font-size: 20px;
	font-weight: bold;
}

.product-tag {
	font-size: 14px;
	color: #bbbbbb;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.line {
	border-top: 1px solid #e8e8e8;
	margin: 50px 0px 30px 0px;
}

.category-button-container {
	overflow: hidden;
	padding-bottom: 20px;
}

.category-button {
	float: left;
	width: 11%;
	height: 43px;
	line-height: 43px;
	text-align: center;
	background-color: white;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	cursor: pointer;
}

.category-button:FIRST-CHILD {
	border-left: 1px solid #e8e8e8;
}

/* .top-down-cotainer {
	position: fixed;
	top: 45%;
	right: calc(50% - 20px);
	transform: translateX(700%);
	text-align: center;
	background-color: white;
	cursor: pointer;
	height: 7.8%;
}

.top-down-cotainer span {
	font-weight: bold;
}

.up, .down {
	height: 30px;
}

.up {
	border: 1px solid #cccccc;
}

.down {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.up>i, .up>span, .down>i, .down>span {
	line-height: 30px;
	padding-right: 5px;
}

.up>i {
	float: right;
}

.down>span {
	padding-left: 5px;
}

.product-notice {
	position: relative;
    bottom: 120px;
    right: 10px;
}

.product-spanNotice {
	position: relative;
    font-size: 18px;
    font-weight: bolder;
    color: red;
    bottom: 7px;
    left: 8px;
} */