@charset "UTF-8";

html body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul, li{
	list-style: none;
	margin: 0px;
	padding:0px;
}

a{
	text-decoration: none;
	color: inherit;
}

.middle {
	width: 1024px;
	margin: 0px auto;
	background-color: white;
}