@charset "UTF-8";

.top-down-cotainer {
	position: fixed;
	top: 45%;
	right: calc(50% - 20px);
	transform: translateX(700%);
	text-align: center;
	background-color: white;
	cursor: pointer;
	height: 63px;
}


.top-down-cotainer span {
	font-weight: bold;
}

.up, .down {
	height: 30px;
}

.up {
	border: 1px solid #cccccc;
}

.down {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.up>i, .up>span, .down>i, .down>span {
	line-height: 30px;
	padding-right: 5px;
}

.up>i {
	float: right;
}

.down>span {
	padding-left: 5px;
}

.product-notice {
	position: relative;
    bottom: 120px;
    right: 10px;
}

.product-spanNotice {
	position: relative;
    font-size: 18px;
    font-weight: bolder;
    color: red;
    bottom: 7px;
    left: 8px;
}