@charset "UTF-8";

.signup_logo{text-align: center;}
.signup_logo_img{
	width: 125px;
    height: 100px;
    margin-bottom: 20px;
}
h4{
	margin: 5px 0px 5px 0px;
}
input{
	width: 497px;
	height: 30px;
	font-size: 17px;
	border-radius: 5px; 
	border: 1px solid gray;
}

input:focus{
	outline: none;
}
p{
	display: inline;
    font-size: 12px;
    margin-top: 5px;
}

.middle{
	width: 100%;
	padding: 20px 0px 20px 0px;
}

.signup{
	height: 78px;
}
.signup_container{
	width: 500px;
	margin: auto;
}

.box{
	
    position: relative;
    height: 45px;
}

input[type=submit]{
	background-color: #FE8181;
    border: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    height: 50px;
}


/* input 태그 */

#id{
	width: 423px;
}
.id_check{
	height: 32px;
    background-color: #FE8181;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.phone{
	width: 135px;
	text-indent: 20px;
}
.phone_cheak{
	height: 32px;
	background-color: #FE8181;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
 	outline: none;
}

#email1{
	width: 200px;
}
#email2{
    border: none;
    background-color: white;
    width: 17px;
}
#email3{
	width: 150px;
}
.signup_email_select{
	border-radius: 5px;
    width: 110px;
	font-size: 12px;
    height: 34px;
}

#question{
	width: 497px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

/* 정규식 메시지 태그 */
.id_e{
	background: red;
}





