<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="baseDir">C:/Users/Owner/Desktop/logFiles</Property>
	</Properties>
	<Appenders>
		<!--찍는방법 -->
		<Console name="Console" target="SYSTEM_OUT"  >
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss a} %level %c - %m %n" />
		</Console>
		
		<RollingFile name="RollingFile" fileName="${baseDir}/test.log" filePattern="${baseDir}/$${date:yyyy-MM}/test-%d{MM-dd-yyyy}-%i.log.zip">
			<PatternLayout pattern="%d %c [%t] %m %n" /> -->
			<Policies>
			<!-- 	조건문 기본적으로 byte MB사용시 숫자뒤에 MB추가 -->
				<SizeBasedTriggeringPolicy size="250MB"></SizeBasedTriggeringPolicy>
			<!-- 기본값 min=1 max=7 -->
				<DefaultRolloverStrategy max="20"></DefaultRolloverStrategy>
				
			</Policies>
			
		</RollingFile>
		<file name="filetest"></file>
	</Appenders>
	<Loggers>
		<!--찍는위치 -->
		<Root level="trace">
			<appender-ref ref="Console" />
			<appender-ref ref="filetest" />
		</Root>
	</Loggers>
</Configuration>